<section class="col-12 p-4 p-xl-2 p-xxl-2 p-lg-3 pt-4 d-flex flex-column gap-2 pb-5" id="feed-section">
  <div  class="col-12 d-flex flex-column flex-xxl-row flex-lg-row flex-xl-row
  align-items-center justify-content-start
  gap-2 gap-xl-5 gap-xxl-5 gap-lg-4 gap-md-3">
    <section  class="col-12 col-lg-2 col-xl-2 col-xxl-2" id="my-banner"></section>
    <div class="col-12 col-xl-8 col-xxl-8 col-lg-8 d-flex align-items-center justify-content-center align-items-lg-start  align-items-xxl-start align-items-md-start align-items-xl-start flex-column" id="feed-text-area">
      <h1 class="col-12 text-light">Hi there Hayley,</h1>
      <p class="co-12 p-1 text-light">
        Explore new music and meet like-minded people with our app! Chat with fellow music lovers, share your favorite tracks, and discover fresh sounds tailored to your tastes. Start your journey now and connect with others who share your passion for music!
      </p>
      <button class="col-12 col-xxl-3 col-lg-8 col-md-5 d-flex gap-1  align-items-center d-flex justify-content-center align-items-center"
              id="start-button"
              type="button"
      >
        Start</button>
    </div>
  </div>
  <app-artists-section class="col-12"></app-artists-section>
</section>
