#login-button{
  background-color: red;
  font-weight: normal;
  cursor: pointer;
  font-size: var(--small-font);
}



#login-button * {
  cursor: pointer; /* This already applies to all child elements */
}

#login-button-loading{
  background-color: black !important; /* Use this cautiously */
  border-style: solid;
  border-width: 1px;
  border-color: white;
}


#login-button:hover{
  background-color: black !important; /* Use this cautiously */
  border-style: solid;
  border-width: 1px;
  border-color: white;
}



@media (max-width: 768px) { /* Adjust the width as needed for your definition of mobile */

  //#login-button, #login-button-loading
  //{
  //  max-width: 40vw;
  //}

    #login-button, #login-button-loading {
      aspect-ratio: 2 / 1; /* Maintains a square aspect ratio */
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      gap: 0;
      font-weight: normal;
      //padding: 5px;
    }
  }

  @media (max-width: 576px) {
    #login-button, #login-button-loading {
      //aspect-ratio: 1 / 1;
    }
  }

