<div class="col-12 d-flex justify-content-center align-items-center" id="task-bar">


  <div class="col-12 col-xl-6 col-xxl-6 col-lg-8 d-flex justify-content-center align-items-center gap-1" (click)="meClickHandler()">
    <div class="col-3 col-xxl-1 col-xl-1 col-lg-1 d-flex flex-column d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-music"></i>
    </div>

    <div class="col-3 col-xxl-1 col-xl-1 col-lg-1 d-flex flex-column d-flex justify-content-center align-items-center" (click)="chatClickHandler()">
      <i class="fa-solid fa-comment"></i>
    </div>


    <div class="col-3 col-xxl-1 col-xl-1 col-lg-1 d-flex flex-column d-flex justify-content-center align-items-center" (click)="settingsClickHandler()">
      <i class="fa-solid fa-gear"></i>
    </div>


    <div class="col-3 col-xxl-1 col-xl-1 col-lg-1 d-flex flex-column d-flex justify-content-center align-items-center" (click)="accountClickHandler()">
      <i class="fa-solid fa-user"></i>
    </div>


  </div>

</div>
