#generic-button{
  font-weight: bold;
  cursor: pointer;
  font-size: var(--small-font);
  padding: 10px;


}
#generic-button:hover {
  background-color: rgba(255, 255, 255, 0.53) !important;
  color: white;
}

#generic-button * {
  cursor: pointer; /* This already applies to all child elements */
}

