<div class="col-12 col-xxl-7 col-lg-5 col-md-5 d-flex flex-column gap-1" id="text-input">
  <label>{{inputConfig.label}}</label>
  <input [type]="inputConfig.type"
         class="col-12"
         *ngIf="!inputConfig.isForPassword"
         [(ngModel)]="inputValue"
         (ngModelChange)="onInputChange()"
         id="text-input-normal"/>
  <div id="password-section" [ngClass]="{'active-input': isActive}" *ngIf="inputConfig.isForPassword">
    <input [type]="showPassword ? 'text' : 'password'"
           class="col-11"
           (focus)="onFocus()"
           (blur)="onBlur()"
           (mouseenter)="onMouseEnter()"
           (mouseleave)="onMouseLeave()"
           [(ngModel)]="inputValue" (ngModelChange)="onInputChange()"
    >
    <i [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'" (click)="toggleShowPassword()"></i>
  </div>
</div>
