#text-input{
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#text-input label{
  font-size: var(--small-font);
}
#text-input input{
  font-size: var(--medium-font);
  background-color: transparent;
  outline: none;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-indent: 10px;
  transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow */
}

#text-input-normal:active,
#text-input-normal:hover {
  box-shadow: inset 0 0 0 2px white; /* Adjust the 2px and #000 to your desired border width and color */
}

#password-section{
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
}

#password-section input{
  border: none;
}

/* password-section.component.css */
#password-section {
  /* Other styles */
  transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow */
}

#password-section.active-input {
  box-shadow: inset 0 0 0 2px white; /* Adjust the 2px and color as needed */
}
#password-section i{
  cursor: pointer;
}
