#artists-section h1{
  font-size: var(--large-font);
  margin: 0;
  padding: 0;
  width: max-content;
  font-weight: bolder;
}
.add-new-pick {
  font-weight: 800;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: var(--large-font);
  background-color: var(--gray-bg-color);
  color: white;
  border-radius: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: none;

}

.add-new-pick label{
  font-size: var(--button-font);
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .add-new-pick{
    aspect-ratio: 6/2;
  }
}
