<div class="col-12 d-flex align-items-center flex-column" id="landing-page">
  <app-banner-image class="col-12 min-vh-50"></app-banner-image>
  <div class="col-11 col-md-10 col-xl-6 col-xxl-5" id="landing-greetings">
    <p class="text-light col-12">
      Welcome to <span>ChatterTunes!</span><br>
      Your ultimate chatting experience, where music meets conversation! Connect with friends, share your favorite tracks, and discover new sounds—all in one place.  <br>
      Get started by linking your Spotify account and let the good vibes roll!<br>
    </p>
    <div class="col-12 d-flex flex-column justify-content-center align-items-center" id="login-register">
      <div class="col-12 col-xxl-8 col-xl-8 col-md-8 pb-2 d-flex flex-column gap-1">
           <app-generic-button [buttonText]="'Register Now'" [voidFunction]="redirectToRegisterHandler.bind(this)"></app-generic-button>
            <app-generic-button [buttonText]="'Login Via Email'"></app-generic-button>
      </div>
      <div class="col-12  d-flex flex-column gap-2" id="login-buttons">
        <label  class="text-light text-center col-12">- OR CONTINUE WITH -</label>
      <div class="col-12 d-flex p-0 align-items-center justify-content-center">
        <section class="col-3 col-md-4 col-xxl-4 col-xl-4 p-1 d-flex">
          <app-login-button class="col-12" [buttonConfig]="googleLoginConfig"></app-login-button>
        </section>
        <section class="col-3 col-md-4 col-xxl-4 col-xl-4 p-1 d-flex">
          <app-login-button class="col-12" [buttonConfig]="spotifyLoginConfig"></app-login-button>
        </section>

      </div>
      </div>
    </div>
  </div>
</div>
