#landing-page{
  background-color: black;
  height: 100%;
  min-height: 100vh;
  font-family: "Jura", serif;
  font-size: 20px;
}
#landing-page p{
  font-size: 0.8em;
}
#landing-page label{
  background-color: black;
}
#landing-greetings span{
  color: #00ff8d;
  font-weight: bolder;
}

@media (max-width: 1200px) {
  #landing-page{
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  #landing-page {
    font-size: 18px;
  }
}
