#landing-page{
  background-color: black;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Poppins", serif;
}
#landing-page p{
  font-size: var(--small-font);
  font-weight: 200;
}
#landing-page label{
  background-color: black;
  font-size: 0.8em;
}
#landing-greetings span{
  color: #00ff8d;
  font-weight: bolder;
}
#login-register{
  padding-bottom: 10px;
}

