#auth-button{
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 25px;
  font-weight: bold;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: var(--button-font);
  min-width: 300px;
}


