#banner-image {
  position: relative; /* Establish a positioning context for absolutely positioned children */
  min-height:40vh;
  max-height:40vh;
  height: 40vh;
}

#image-div, #image-div-gradient {
  position: absolute; /* Make both divs position absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  height: 100%; /* Full height of the parent */
  width: 100%; /* Full width of the parent */
}

#image-div {
  background-image: url("/assets/LandingBanner.png");
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: 100% 300%; /* Stretches the image width to 100%, keeping the height auto to maintain aspect ratio */
  background-position: center; /* Centers the image vertically */
  z-index: 1; /* Ensure the image is below the gradient */
}

#image-div-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 1) 100%);
  z-index: 2; /* Ensure the gradient is above the image */
}

@media (max-width: 1200px) { /* Adjust the width as needed for your definition of mobile */
  #banner-image{
    min-height:30vh;
    max-height:30vh;
    height: 30vh;
  }
  #image-div-gradient{
    height: 101%;
  }
}
//@media (max-width: 1200px) { /* xl */
//  .min-vh-xl {
//    min-height: 80vh; /* Adjust value as needed */
//  }
//}
