<div class="col-12 min-vh-100 d-flex justify-content-center align-items-center" id="add-pick">
  <form class="col-12 col-lg-9 col-xl-8  p-3 pt-2 p-lg-4 p-xl-4 p-xxl-4 d-flex flex-column gap-2">
     <section  class="col-12 d-flex">
       <h1 class="text-light col-6">New Artist</h1>
     </section>
      <section class="col-12">
        <app-search-bar class="col-12" (searchEvent)="searchHandler($event)"></app-search-bar>
      </section>

     <div class="col-12 d-flex flex-row  artist-info-wrapper">
       <div class="col-12 d-flex flex-row flex-wrap artist-search-wrapper" id="artist-search-wrapper">
         <app-search-result-card *ngFor="let artist of searchResult"
                                 [artist]="artist" class="col-6 col-xl-3 col-lg-6 col-xxl-2 col-md-4"
                                  (selectEvent)="showArtistInfoHandler($event)"></app-search-result-card>
       </div>
       <div class="col-12 d-flex flex-row flex-wrap artist-data-wrapper" id="artist-info" >
         <app-artist-info class="col-12" [artist]="artist" *ngIf="showArtistInfo"></app-artist-info>
       </div>

     </div>

      <section class="col-12 col-lg-5 col-xxl-2 col-xl-2 d-flex justify-content-center align-items-center pb-3">
        <button class="col-12" type="button" (click)="triggerHide()">CANCEL</button>
      </section>

  </form>
</div>
