/* You can add global styles to this file, and also import other style files */




html, body {
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
  overflow: hidden;


}

html{
  font-size: 16px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;

  background-color: black;
}

:root {
  --small-font: clamp(18px, 5vw+ 10rem, 100px);
  --medium-font: 16px; // Default font size
  --large-font: 20px; // Default font size
}


@media (max-width: 1200px) {
  :root {
    --small-font: clamp(10px, 0.5vw+ 0.5rem, 17px); // Default font size
    --medium-font: 25x; // Default font size
    --large-font: 25px; // Default font size
  }
}
@media (max-width: 1024px) {
  :root {
    --small-font: clamp(15px, 1.3vh + 0.3rem, 25px); // Default font size
    --medium-font: 25x; // Default font size
    --large-font: 25px; // Default font size
  }
}

@media (max-width: 992px) {
  :root {
    --small-font: clamp(15px,  1rem + 0.3vw + 0.1vh, 23px); // Default font size
    --medium-font: 25x; // Default font size
    --large-font: 25px; // Default font size
  }
}
@media (max-width: 768px) {
  :root {
    --small-font: clamp(13px, 1vw + 8px, 20px); // Default font size
    --medium-font: 25x; // Default font size
    --large-font: 25px; // Default font size
  }
}


@media (max-width: 576px) {
  :root {
    --small-font: clamp(12px,0.5vw + 0.5rem,16px); // Default font size
    --medium-font: 25x; // Default font size
    --large-font: 25px; // Default font size
  }
}
